{% extends "products/base.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form action="" method="post">{% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control"name="username"
            placeholder="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password"
             placeholder="Password">
        </div>
        <div class="form-check">
          <input type="checkbox" style="margin-left: 3em;" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" style="margin-left: 4em;">Remember</label>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 4em;">Login</button>
      </form>
      <div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
