.col-md-6{
    margin-top: 2em;
    width: 50%;
    position: absolute;
}
.form-group{
    margin-left: 4em;
    margin-top: 2em;
}
.form-control{
    width: 50%;
    border-style: solid;
    border-color: rgb(67, 131, 228);
}  
#navbarSupportedConten{
    float: left;
}
.navbar-nav{
    float: right;
    padding-left: 26em;
}
.navbar-brand{
    padding-left: 4em;
}
.card{
    width: 25em;
    height: 15em;
    margin-top: 2em;

}
.card-img-fill{
   height: 15em;
   width: 15em;
}
.card-text{
    color: black;
}
.btn-detail{
    width:14em;
    height:3em;
    margin-top: 2em;
}