{% extends "products/base.html" %}
{% block body %}

<div class="container" style="margin-top:1em;">
  <div class="row">
    <div class="col md-6 lg-6">
      <img src="{{product.image.url}}" alt="" style="height: 28em; width: 32em;">
      <div class="row">
        <div class="col">
          <a href="">
            <button class="btn-detail btn-warning">Add to Cart</button>
          </a>
        </div>
        <div class="col">
          <a href="">
            <button class="btn-detail btn-success">Buy now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col md-6 lg-1">

      <div class="row">
        <label class="product-name">
         <h4>
          {{product.name}}
         </h4>
        </label>
      </div>
      <div class="row">
        <label class="product-price">
         <h4>₹ {{product.price}}</h4> 
        </label>
      </div>

      <div class="row">
        <p>
          {{product.description}}
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}